<div class="user-list">
    <h2>User List</h2>


    <table>
        <tr>
            <th>Full Name</th>
            <th>Phone Number</th>
            <th>Email Address</th>
            <th>Today's Call History</th>
            <th>Add / Edit Status</th>
        </tr>
        <tr *ngFor="let user of users">
            <td>{{ user.name }}</td>
            <td>{{ user.phone }}</td>
            <td>{{ user.email }}</td>
            <td><button [routerLink]="['/calling-history']" routerLinkActive="active">Call History</button></td>
            <td><button [routerLink]="['/edit-status']" routerLinkActive="active">Add Info</button></td>
            <br><br><br>
        </tr>
    </table>
</div>